<style>
   .card-container {
     display: flex;
     justify-content: space-between;
     overflow: hidden;
   }
 
   .card {
     width: 200px;
     height: 200px;
     background-color: #f1f1f1;
     transition: transform 0.5s ease;
   }
 
   .card:hover {
     transform: translateX(20px);
   }
 </style>
 
 
 
 <h1>Welcome to CINErev!</h1>
 
 <div class="card-container">
   <div class="card">
     <img src="/img/img1.jpg" alt="Image 1">
   </div>
   <div class="card">
     <img src="/img/img2.jpg" alt="Image 2">
   </div>
   <div class="card">
     <img src="/img/img3.jpg" alt="Image 3">
   </div>
   <div class="card">
     <img src="/img/img4.jpg" alt="Image 4">
   </div>
 </div>
 
 <h5>At CINErev, we are passionate about movies. Our goal is to provide insightful and entertaining reviews that help you make informed decisions about what to watch next. Whether you're a casual moviegoer or a dedicated cinephile, we've got you covered.</h5>
 